absl-py==0.12.0
astor==0.8.1
astunparse==1.6.3
beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cloudpickle==1.1.1
colorama==0.4.4
contextlib2==0.6.0.post1
cplex==20.1.0.0
CVXcanon==0.1.2
cvxopt==1.2.6
cvxpy==1.1.13
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
Deprecated==1.2.12
dill==0.3.3
dimod==0.9.15
dm-sonnet==1.35
dm-tree==0.1.6
dwave-networkx==0.8.8
ecos==2.0.7.post1
fastcache==1.1.0
flatbuffers==1.12
gast==0.4.0
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphs==0.1.3
grpcio==1.34.1
gurobipy==9.1.2
h5py==3.1.0
idna==2.10
importlib-metadata==3.10.0
interval-bound-propagation @ git+https://github.com/deepmind/interval-bound-propagation@217a14d12686e08ebb5cfea1f2748cce58a55913
joblib==1.0.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.4
matlabengineforpython===R2021a
matplotlib==3.4.1
mlrose==1.3.0
mnist==0.2.2
mock==4.0.3
Mosek==9.2.40
multiprocess==0.70.11.1
networkx==2.5.1
numba==0.53.1
numpy==1.21.0
oauthlib==3.1.1
opt-einsum==3.3.0
osqp==0.6.2.post0
pandas==1.2.4
Pillow==8.2.0
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-tsp==0.2.1
pytz==2021.1
qdldl==0.1.5.post0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.2
scs==2.1.3
sdpt3glue==0.9.2
selenium==3.141.0
semantic-version==2.8.5
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-gpu==1.15.5
tensorflow-probability==0.7.0
termcolor==1.1.0
threadpoolctl==2.1.0
toolz==0.11.1
tsplib95==0.7.1
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.1
